.banner {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 40vh;
    margin: 1rem auto 0 auto;
    width: 90%;
}

.form{
    z-index: 5;
    margin: -50px auto 20px auto;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}

.mat-form-field {
    width: 80%;
    padding: .75rem .88rem;
    margin: .4rem auto;
    font-size: 16px;
}
// input {
//     width: 100%;
//     padding: .65rem .87rem;
//     border-radius: 10px;
//     border: 1px solid lightgray;
// }